{{ page.page_top }}
{{ page.highlighted }}



<header class="">
  <div class="wrapper grid relative">
    <div class="pane grid3"> <a class="logo" href="{{ front_page }}"> <img src="{{ logopath }}" alt="{{ site_name }}" /> <span>{{ site_name }}</span> </a> </div>
    <div class="pane grid9" >
     
      <div class="grid ta-right">
      <div class="pane grid5 ta-right">
        <ul class="inline-menu social-links">
          <li><a href="https://www.facebook.com/Maarkedal/" target="_blank"><img src="{{ theme_path }}/img/facebook.png" alt=""></a></li>
          <li><a href="https://twitter.com/gemMaarkedal" target="_blank"><img src="{{ theme_path }}/img/twitter.png" alt=""></a></li>
          <li><a href="https://www.instagram.com/maarkedalmoetjebeleven/" target="_blank"><img src="{{ theme_path }}/img/instagram.png" alt=""></a></li>
      </div>
      <div class="table-menu topmenu pane grid7 ta-center bgc-main br-reset br-bottom-medium br-bottom-main"> {{ page.secondary_menu }} </div>
      </div>
      
      <div class="grid">      
      <div id="menubar" class="pane grid5">
          {{ page.primary_menu }}  
      </div> 
      <div class="pane grid7  bgc-main"> {{ page.search }}</div> 
      </div>


    </div>
  </div>


  <div class="banner bgc-grey">
    <div class="wrapper"> {{ page.header.banner }}</div>
  </div>


</header>
<div class="info wrapper"> {{ page.help }} </div>



<main id="main">
  <div class="wrapper"> {{ page.breadcrumb }}
    
    {% if page.sidebar_first %}
    <aside class="sidebar"> {{ page.sidebar_first }} </aside>
    {% endif %}
    
    {{ page.content }}
    
    {% if page.sidebar_second %}
    <aside class="sidebar"> {{ page.sidebar_second }} </aside>
    {% endif %} </div>
</main>
<footer class="br-top-grey br-bottom-main br-top-large br-bottom-large">
  <div class="wrapper grid">
    <div class="pane grid4"> 
    <a class="logo" href="{{ front_page }}"> <img src="{{ logopath }}" alt="{{ site_name }}" /> <span>{{ site_name }}</span> </a>
    {{ page.footer }}
    </div>
    <div class="pane grid6"> {{ page.primary_menu }} </div>

    <div class="pane ta-right va-center grid2">
    {{ page.secondary_menu }}
    </div>
  </div>
</footer>
